*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
body{
    background-image: url(/src/main/resources/static/images/logo.gif);
}

.kutu1, .kutu2 {
    margin-top: 100px;
    width: 720px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    background-image: url(/src/main/resources/static/images/logo.gif);
    
}

.kutu1 {
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 250px;
}

.kutu2 {
    background-color: rgb(255, 255, 255);
    
}

.kutu3 {
    display: flex;
    align-items: center;
    width: 720px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin-top: 20px;
}

.kutu4 {
    border: none;
    background-color: #5900fd;
    width: 500px;
}
.kutu1 .input {
    width: 100%; 
    height: 40px;
    border: none; 
    background-color: #ece6f7;
    box-shadow: 1px 1px 1px violet;
    outline: none; 
    margin-left: 0; 
    padding: 0; 
}
.img{
    width: 450px;
    height: 450px;
    margin-top: 50px;
    margin-left: 150px;
}
input {
   
    border: none; 
    background: none; 
    outline: none; 
    padding: 8px; 
    color: #000000; 
    font-size: 16px;
}


.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group .label {
    margin-right: 10px;
}


.btn {
    margin-top: 40px;
    background-color: #4021b2;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
    width: 250px;
}

.btn:hover {
    background-color: #42289e;
}

.label1 {
    background-color: #ece6f7;
    box-shadow: 1px 1px 1px violet;
    width: 140px;
    height: 40px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
label {
    font-weight: bold;
    color: #000000;
    display: inline;
}
