* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url(/src/main/resources/static/images/logo.gif);
}

div.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 65px;
    background-image: url(/src/main/resources/static/images/logo.gif);
   
}

.imagePart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 125px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(132, 0, 255);
    
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c8b8e8;
    outline: none;
    box-shadow: 1px 1px 1px #c8b8e8;
    background-color: #ece6f7;
    ;

}


input[type="button"] {
    font-weight: bold;
    font-family:"Cascadia Code";
    padding: 7.5px;
    background-color: #4021b2;
    color: #ffffff;
    width: 200px;
    margin-left: 200px;
    box-shadow: 1px 1px 1px #000000;
    cursor: pointer;

}


.otherButtons {
    background-color: #c8b8e8;
    border: none; 
    color: white; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    width: 200px;
    margin-left: 175px;
    cursor: pointer; 
    margin-top: 25px;
    box-shadow: 1px 1px 1px #000000;

    
}
.otherButtonsa {
    background-color: #c8b8e8; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    width: 200px;
    margin: 4px 2px; 
    margin-left: 175px;
    cursor: pointer; 
    box-shadow: 1px 1px 1px #000000;
}




span {
    color: red;
    display: none;
    font-size: 12px;
}
