body {
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url(/src/main/resources/static/images/logo.gif);
}
.maindiv{
    width: 600px;
    height: 800px;
    margin-top: 25px;
    vertical-align: top;
    
}
.maindiv2{
    margin-top: 25px;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 50px;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 175px;
    margin-bottom: 25px;
    margin-left: 50px;
    background-color: #c8b8e8;
    border-radius: 50px;
    padding: 20px; 
}
.container2 {
    width: 500px;
    height: 175px;
    background: none; 
    color: #4021b2; 
    text-align: center; 
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    display: inline-block;
    margin-top: 50px;
}
.container2 span {
    display: block; 
}
.container3{
    margin-left: 25px;
    height: 175px;
    width: 175px;
    background: none;
}

.container1{
    margin-top: 20px;
    width: 500px;
    height: 200px;
    background: none ;
    margin-bottom: 25px;
    margin-left: 80px;
   background: none;
    border-radius: 50px;
    
}

.images{
    width: 600px; 
    height: 600px;
    margin-left: 70px;
    margin-top: 58px;
}
.btn{
    background-color: #4021b2; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    width: 200px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px;
}
.text{
    margin-left: 300px;
    color: #4021b2;
    font-size: larger;
    font-weight: bolder;
    width: 100px;
    height: 100px;  
}

.packagename{
    color: #4021b2;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 35px;

}   
